[{twitterminer, 
[
{twitter_accounts, 
[{account1, [
	    {api_key, "tKanAF3pjLsNeN8z75zA3u1s1"},
	    {api_secret, "7NFB5usVIsjBHUWuCobhILoEKeX9LUNHqZN1yLK32plnMWoc7c"},
	    {access_token, "2913669695-j9UBgYRfomyGFIv6CDkzN2FKqnplaCA998fNUCq"},
	    {access_token_secret, 
	    "MsjkAZ2sAARIgCC8zPkaf7ONuu6Y9o9SCd6kYvsexyCBJ"}
	       ]}]},
{instagram, 
[{insta1, [
	{access_token, 
	"1402100584.f45dfca.45b91c8f0be0487eb036f3220aeec143"}
]}]},
  {riak_nodes,
 [{riak1, [
	    {host, "127.0.0.1"},
	    {port,10017}
]}]}

]
}].


	    	
