   .bubble {
    position: absolute;
    display:block;
    width:100px;
    height:100px;
    line-height:50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#black;
    text-align:;
    text-decoration:none;
    background: #FFCCFF   ;
    box-shadow: 0 0 3px #CC00FF;
    font-size:8px;
    font-weight:bold;
   } 


