<<<<<<< HEAD
@charset "utf-8";
// our css doc

button {
color: blue;

}

.body {
	
	font-family: Helvetica, sans-serif

}
=======
>>>>>>> 0079db14254d77c27c08389a3a183ec4ba087857

.header {
	font-family: cursive;
	text-align: right;
	
}

.nav_main {
 	text-align: left;
 	height: 100px;
 	
}
.content {
	height:350px;


} 

.footer {
	text-align: right;
	
}