
@charset "utf-8";
// our css doc


.header {
	height: 50px;
	font-family: cursive;
	text-align: right;
	background-color: white;
}

.content {
	height:690px;
	background-color: white;
} 

.footer {
	height: 50px;
	text-align: right;
	background-color: white;
	
}