[{twitterminer, [
  {twitter_accounts, [
    {account1, [
	    {api_key, "ZSeEMAkfv4QpzeUeVXH9snBuL"},
	    {api_secret, "n6Z9QOEzBwHzyh1g4G7JTkDyWEfzSGqcKoinHecaR0gg4Ghv72"},
	    {access_token, "2789867073-ANe9GLL3WLNwCK06emO4SoifBL2SCCSF2Xr8k6V"},
	    {access_token_secret, "S6WQntOsWEastkynxxffkFPlVyweoLbDjG4TLwsZUBv5w"}]},
  {riak_nodes, [
    {riak1, [
	    {host, "127.0.0.1"},
	    {port,8098}]}]}]}]}].
